* {
    box-sizing: content-box;
  }
  body {
    margin: 0;
  }
  label {
    margin-bottom: 0 !important;
  }
  .banner {
    width: 100%;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.3);
  }
  .logo {
    width: 100%;
    padding: 4px;
    background-color:#2C3650;
    display: flex;
    align-items: center;
  }
  .icon {
    height: 30px;
    width: 30px;
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid white;  
    border-radius: 50%;
    margin-left: 2px;
    margin-right: 8px;
    font-style: bold;
  }
  .E-label {
    margin: 0px 0px 0px 0px;
    color: white;
    font-size: 24px;  
    position: relative;
    top: -1px;
  }
  .emp-label {      
    font-size: 18px;
    position: relative;
    color: white;
  }
  .bottom-banner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
    color: rgb(117, 113, 113);
    font-size: 18px;
  }  
  .row {
    margin: 4px 0px 0px 0px  !important;
  
  }
  .col-3 {
    padding: 3px !important;
    z-index: -1;
  
  }
  .col-3 img {
    width: 100%;
  }
  @media screen and (max-width: 768px) {
    .container-images {
      display: block !important;
    }
     .container-images .col-3 {
       max-width:100% !important;
     }
  }  